//colors
$bluegray: #607D8B;
$darkbluegray: #263238;
$navyblue:#183052;
$thinblue:#BEDDF9;
$lightblue: #538DD7;
$green: #4CAF50;
$white: #ffffff;
$lightgreen: #C8E6C9;
$gray: #757575;
$lightgray: #CFD8DC;
$palepink: #FFCDD2;
$orange: #FF5722;

//size

$big-cell: 40px;
$medium-cell: 30px;
$small-cell: 20px;